/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle vlue to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specifiy the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specifiy the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,600,400,300|Open+Sans+Condensed:300,700|Lato:100,300,400);
.navbar {
  background-color: white;
  height: 80px;
  color: black; }
  .navbar a:link {
    text-decoration: none;
    color: black; }
  .navbar a:visited {
    color: black; }
  .navbar a:hover {
    color: black; }
  .navbar .brand {
    *zoom: 1;
    display: inline;
    clear: none;
    text-align: inherit;
    float: left;
    width: 58.8%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 20.6%;
    margin-right: 3%;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 1px 1px 2px #969696;
    margin: 20px 0 20px 30px; }
    .navbar .brand:before, .navbar .brand:after {
      content: '';
      display: table; }
    .navbar .brand:after {
      clear: both; }
    .navbar .brand:last-child {
      margin-right: 0%; }
  .navbar ul {
    *zoom: 1;
    display: inline;
    clear: none;
    text-align: inherit;
    float: left;
    width: 38.2%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0%;
    margin-right: 3%;
    float: right;
    margin-top: 30px; }
    .navbar ul:before, .navbar ul:after {
      content: '';
      display: table; }
    .navbar ul:after {
      clear: both; }
    .navbar ul:last-child {
      margin-right: 0%; }
    .navbar ul li {
      cursor: pointer;
      display: inline;
      *zoom: 1;
      display: inline;
      clear: none;
      text-align: inherit;
      float: left;
      width: 22.75%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0%;
      margin-right: 3%;
      font-family: "Open Sans", sans-serif;
      font-size: 30px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 300;
      text-shadow: 1px 1px 2px #969696;
      font-size: 15px; }
      .navbar ul li:before, .navbar ul li:after {
        content: '';
        display: table; }
      .navbar ul li:after {
        clear: both; }
      .navbar ul li:last-child {
        margin-right: 0%; }

.home {
  width: 100%;
  height: 700px;
  background-image: url("../img/bkbridge.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }
  .home h2 {
    *zoom: 1;
    display: inline;
    clear: none;
    text-align: inherit;
    float: left;
    width: 79.4%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 20.6%;
    margin-right: 3%;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 200;
    position: absolute;
    top: 225px;
    left: 0px;
    width: 100%; }
    .home h2:before, .home h2:after {
      content: '';
      display: table; }
    .home h2:after {
      clear: both; }
    .home h2:last-child {
      margin-right: 0%; }
    .home h2 span {
      color: rgba(179, 46, 46, 0.9);
      padding-left: 73px;
      font-weight: 500; }

.about {
  background: rgba(255, 255, 255, 0.5);
  height: 700px;
  *zoom: 1;
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0; }
  .about:before, .about:after {
    content: '';
    display: table; }
  .about:after {
    clear: both; }
  .about h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 200;
    padding: 10px;
    text-shadow: 1px 1px 2px #969696; }
  .about section {
    *zoom: 1;
    display: inline;
    clear: none;
    text-align: inherit;
    float: left;
    width: 48.5%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10.3%;
    margin-right: 3%;
    font-family: "Lato", sans-serif;
    font-size: 20px; }
    .about section:before, .about section:after {
      content: '';
      display: table; }
    .about section:after {
      clear: both; }
    .about section:last-child {
      margin-right: 0%; }
    .about section img {
      opacity: .8; }
    .about section a:link {
      text-decoration: none;
      color: #3866B5; }
    .about section a:visited {
      color: #3866B5; }
    .about section a:hover {
      color: #3866B5; }
    .about section .resume {
      *zoom: 1;
      display: inline;
      clear: none;
      text-align: inherit;
      float: left;
      width: 17.6%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 82.4%;
      margin-right: 3%; }
      .about section .resume:before, .about section .resume:after {
        content: '';
        display: table; }
      .about section .resume:after {
        clear: both; }
      .about section .resume:last-child {
        margin-right: 0%; }
    .about section ul {
      *zoom: 1;
      display: inline;
      clear: none;
      text-align: inherit;
      float: left;
      width: 74.25%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 25.75%;
      margin-right: 3%;
      list-style-type: none; }
      .about section ul:before, .about section ul:after {
        content: '';
        display: table; }
      .about section ul:after {
        clear: both; }
      .about section ul:last-child {
        margin-right: 0%; }
      .about section ul img {
        *zoom: 1;
        display: inline;
        clear: none;
        text-align: inherit;
        float: left;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0%;
        margin-right: -0.1%;
        padding-right: 20px;
        max-height: 40px;
        max-width: 40px; }
        .about section ul img:before, .about section ul img:after {
          content: '';
          display: table; }
        .about section ul img:after {
          clear: both; }
        .about section ul img:last-child {
          margin-right: 0%; }
  .about img {
    *zoom: 1;
    display: inline;
    clear: none;
    text-align: inherit;
    float: left;
    width: 38.2%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0%;
    margin-right: 13.3%;
    max-height: 450px;
    max-width: 300px;
    margin: 20px 0; }
    .about img:before, .about img:after {
      content: '';
      display: table; }
    .about img:after {
      clear: both; }
    .about img:last-child {
      margin-right: 13.3%; }

.portfolio {
  background: rgba(255, 255, 255, 0.3); }
  .portfolio h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 200;
    padding: 10px;
    text-shadow: 1px 1px 2px #969696; }
  .portfolio div {
    position: relative;
    width: 100%;
    *zoom: 1;
    width: auto;
    max-width: 750px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.6); }
    .portfolio div:before, .portfolio div:after {
      content: '';
      display: table; }
    .portfolio div:after {
      clear: both; }
    .portfolio div img {
      cursor: pointer; }
    .portfolio div span {
      background: rgba(255, 255, 255, 0.9);
      position: absolute;
      top: 0px;
      left: -77px;
      width: 750px !important;
      height: 322px;
      *zoom: 1;
      width: auto;
      max-width: 1410px;
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
      *zoom: 1;
      display: inline;
      clear: none;
      text-align: inherit;
      float: left;
      width: 79.4%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 10.3%;
      margin-right: 3%;
      padding: 20px 0;
      font-family: "Lato", sans-serif; }
      .portfolio div span:before, .portfolio div span:after {
        content: '';
        display: table; }
      .portfolio div span:after {
        clear: both; }
      .portfolio div span:before, .portfolio div span:after {
        content: '';
        display: table; }
      .portfolio div span:after {
        clear: both; }
      .portfolio div span:last-child {
        margin-right: 0%; }
      .portfolio div span a:link {
        *zoom: 1;
        width: auto;
        max-width: 300px;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        line-height: 50px;
        text-decoration: none;
        font-size: 25px;
        color: rgba(179, 46, 46, 0.9); }
        .portfolio div span a:link:before, .portfolio div span a:link:after {
          content: '';
          display: table; }
        .portfolio div span a:link:after {
          clear: both; }
      .portfolio div span a:visited {
        color: rgba(179, 46, 46, 0.9); }
      .portfolio div span a:hover {
        color: rgba(179, 46, 46, 0.9); }

/*# sourceMappingURL=style.css.map */
