.about {

  background-color: $darkGray;
  padding: 100px 0;

  @include media($desktop) {
    padding: 75px 0;
  }

  .container-inner {
    background-color: rgba(255,255,255,0.9);
    padding: 100px;

    h1 {
      text-align: center;
      margin: 0;
      @include opensans-light;
    }

    .text {
      @include span-columns(9);
      @include lato-normal;

      p {
        margin: 15px 0 15px 15px;

        a {
          color: $wine;
          text-decoration: none;
        }

      }

    }

    .pic {
      @include span-columns(3);

      img {
        max-width: 100%;
        margin-top: 15px;
      }

    }

    .links {
      margin-top: 15px;

      .social {
        @include span-columns(9);

        img {
          width: 40px;
          margin-right: 10px;
        }

      }

      .resume {
        @include span-columns(3);
        text-align: right;

        a {
          color: white;
          background-color: rgba(154,0,0,0.7);
          font-size: 20px;
          @include lato-normal;
          padding: 20px 25px;
          text-decoration: none;

          &:hover {
            background-color: rgba(154,0,0,1);
          }
          
        }

      }

    }

  }

}