.hero {
  text-align: center;

  .header {

    &-before {
      display: inline-block;
      height: 70px;
      width: 70px;
      background: url('../images/treble-clef.png') no-repeat center center;
      background: url('../images/treble-clef.svg') no-repeat center center;
      background-size: contain;
      vertical-align: middle;

      &.swapper {
        height: 60px;
        width: 60px;
        background-image: url('../images/tag-open.png');
        background-size: contain;
        @include transition(all 1s ease-in 2s);
      }
      
    }

    &-after {
      display: inline-block;
      height: 50px;
      width: 50px;
      background: url('../images/eighth-note-single.png') no-repeat center center;
      background: url('../images/eighth-note-single.svg') no-repeat center center;
      background-size: contain;
      vertical-align: middle;
      
      &.swapper {
        height: 60px;
        width: 60px;
        background-image: url('../images/tag-close.png');
        background-size: contain;
        @include transition(all 1s ease-in 2s);
      }

    }

    #html-tags {
      width: 60px;
    }

    h1 {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      @include sourcecodepro-normal;
      text-transform: lowercase;
      font-size: 40px;
      margin: 0 10px;

      span {
        color: $wine;
      }

    }
    
  }

}