.hero {
  text-align: center;

  .header {

    img {
      width: 50px;
      display: inline-block;
      vertical-align: middle;
    }

    #html-tags {
      width: 60px;
    }

    h1 {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      @include h1-font;
      font-size: 40px;
      margin: 0 25px;

      span {
        color: $wine;
      }

    }
    
  }

}