.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(237,243,253,0.9);
  padding: 25px 8.5%;
  z-index: 100;

  .logo {
    display: none;
    text-decoration: none;
    @include opensans-light;
    color: $red;
    font-size: 30px;
  }

  .nav-items {
    float: right;
    margin: 11px 0;

    a {
      margin-left: 65px;
      @include sourcecodepro-bold;
      font-size: 14px;
      letter-spacing: 1px;
      color: $textGray;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $red;
        @include transition(color 0.2s ease-in-out);
      }

      &.active {
        color: $red;
      }

      @include media($tab_port) {
        display: block;
        line-height: 1.7;
      }

      &#mobile-home-link {
        display: none;
        @include opensans-light;
        color: $red;
        font-size: 16px;

        @include media($tab_port) {
          display: block;
        }
      }
      
    }

    @include media($tab_port) {
      position: absolute;
      left: 0;
      height: 0;
      overflow: hidden;
      top: 72px;
      width: 100%;
      background-color: rgba(237,243,253,0.9);
      margin: 0;
      padding: 0;
      @include transition(height 500ms, padding 500ms);

      &.is-open {
        height: 145px;
        padding: 20px;
      }

    }

  }

  .hamburger {
    display: none;
    padding: 10px;
    float: right;
    cursor: pointer;

    @include media($tab_port) {
      display: block;
    }

    .line-wrapper {
      transition: transform 300ms;

      .line1,
      .line2,
      .line3 {
        width: 30px;
        height: 2px;
        margin: 0 0 5px 0;
        display: block;
        border-bottom: 1px solid $darkestGray;
        border-radius: 4px;
        transition: transform 300ms;
      }

    }

    &.is-open {
      .line-wrapper {
        @include transform(rotate(45deg) translateY(3px));
      }

      .line2 {
        @include transform(translateY(-7px) rotate(90deg));
      }

      .line3 {
        @include transform(translateY(-13.5px) rotate(90deg));
      }

    }

  }

}