.portfolio {

  background-color: #fff;
  color: $red;
  padding: 100px 0;

  @include media($desktop) {
    padding: 75px 0;
  }

  h1 {
    width: 31%;
    margin: 0 0 50px 0;
    @include opensans-light;
    font-size: 25px;
    line-height: 55px;
    padding-left: 14%;
    border-top: 1px solid $red;
    border-right: 1px solid $red;
    border-bottom: 1px solid $red;
  }

  h2 {
    @include opensans-semibold;
    font-size: 18px;
    color: #636363;
    // @include transform(rotate(270deg));
    text-align: center;
    float: left;
    // width: 150px;
    // margin: 0 -20px 0 45px;
  }

  .front-end {
    margin-bottom: 50px;

    .boxes {
      @include span-columns(10, 'block-collapse');
      background-color: $medGray;
      padding: 20px;

      .h2-wrapper {
        @include span-columns(1 of 10)
      }

      .detail {
        position: relative;
        @include span-columns(2.25 of 10);
        overflow: hidden;
        background: rgba(255,255,255,0.9) url('../images/valet-anywhere-logo.png') no-repeat center center;
        background-size: contain;
        height: 250px;
        cursor: pointer;

        &.shapeup {
          background: #232145 url('../images/shapeup-logo.png') no-repeat center center;
          background-size: contain;
        }

        &.smith {
          background: #44a3e7 url('../images/smith-logo-white.png') no-repeat center center;
          background-size: contain;
        }

        &.hippodrome {
          background: #001964 url('../images/hippodrome-logo-white.png') no-repeat center center;
          background-size: contain;
        }

        &-text {
          opacity: 0;
          position: relative;
          text-align: center;
          @include lato-normal;
          z-index: 3;
          padding: 25px;

          img {
            max-width: 100%;
          }

          h5 {
            margin: 12px 0 5px;
            color: $wine;
            text-transform: uppercase;
            font-size: 16px;
          }

          p {
            font-size: 18px;
            margin: 0;
            color: $darkestGray;
          }

        }

        &:hover {

          .detail-text {
            opacity: 1;
            @include transition(opacity 0.5s ease-in 0.6s);
          }

          .overlay {
            top: 0;
            @include transition(all 0.6s ease-in);
            @include transform(translateX(-15%) translateY(-16%) rotate(45deg));
          }

        }

        .overlay {
          position: absolute;
          top: -250px;
          background-color: rgba(255,255,255,0.9);
          height: 145%;
          width: 146%;
          @include transform(translateX(-85%) translateY(-15%) rotate(45deg));
          z-index: 2;
        }

      }

    }

    .white-space {
      @include span-columns(2, 'block-collapse');
      background-color: #fff;
    }

  }


  .back-end {
    background-color: $medGray;
    width: 71%;
    margin-bottom: 50px;
    padding: 20px 0;

    .detail {
      position: relative;
      @include span-columns(3.2);
      overflow: hidden;
      background: url('../images/ensemblify-logo.png') no-repeat center center;
      background-size: contain;
      height: 250px;
      opacity: 0.9;
      cursor: pointer;

      &:first-child {

        .detail-text {

          @media screen and (max-width: 1050px) {
            padding: 5%;
          }

        }

      }

      &.best-stop {
        background: url('../images/best-stop-logo.png') no-repeat center center;
        background-size: contain;

        .detail-text {
          padding: 30px 25px;
        }

      }

      &.petite-performer {
        background: url('../images/petite-performer-logo.png') no-repeat center center;
        background-size: contain;
      }

      &-text {
        opacity: 0;
        position: relative;
        @include lato-normal;
        z-index: 3;
        padding: 10% 5%;
        text-align: center;

        h4 {
          color: $darkestGray;
          margin: 0;
          font-size: 16px;
        }

        h5 {
          margin: 7px 0 5px;
          color: $wine;
          text-transform: uppercase;
          font-size: 15px;
        }
        
        p {
          color: $darkestGray;
          font-size: 14px;
          margin: 0;
        }

      }

      &:hover {

        .detail-text {
          opacity: 1;
          @include transition(opacity 0.5s ease-in 0.6s);
        }

        .overlay {
          top: 0;
          @include transition(all 0.6s ease-in);
          @include transform(translateX(-15%) translateY(-16%) rotate(45deg));
        }

      }

      .overlay {
        position: absolute;
        top: -250px;
        background-color: rgba(255,255,255,0.9);
        height: 145%;
        width: 146%;
        @include transform(translateX(-85%) translateY(-15%) rotate(45deg));
        z-index: 2;

      }

    }
    
  }

}