.portfolio {

  background-color: $lightblue;
  color: white;
  padding: 100px 0;

  h1 {
    text-align: center;
    margin: 0;
    @include h1-font;
    font-size: 36px;
  }

  h2 {
    text-align: center;
    margin: 40px 0 20px;
    @include h1-font;
    font-size: 26px;
  }

  .front-end {

    .front-end-detail {
      @include span-columns(3);
      background: rgba(255,255,255,0.95) url('../images/valet-anywhere.png') no-repeat center center;
      background-size: contain;
      height: 250px;

      &:nth-child(2) {
        background-image: url('../images/shapeup.png');
      }
    }

  }

  .back-end {

    .back-end-detail {
      @include span-columns(4);
      background-color: white;
      height: 250px;
    }
    
  }

}